$font-stack: 'Kumbh Sans', sans-serif;
$font-size--primary: 1.2rem;
$font-h1: 3.6rem;
$font-h2: 1.6rem;
$font-p: 1.6rem;

$color-text--dark: #1d1e35;
$color-text--active: #f47c57;
$color-text--grey: #4a4b5e;
$color-text--light: #787887;


$color-bg--primary: #af67e9;
$color-bg--secondary: #6565e7;

$color--light:#e7e7e9;
$color--white: #ffffff;


